body {
    /*display: flex;*/
    margin: 0;
    font: roboto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    padding: 0 200px;
    background-color: #1F2937;
    font-family: roboto;
}

.logo{
    flex:1;
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    font: roboto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}



.header-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    
}